.message {
    display: flex;
    justify-content: flex-end;
    padding: 20px;

}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    align-items: end;
    position: relative;
}

.imageAndText img {
    width: 40px;
    height: max-content;

}

.text {
    background-color: rgb(81, 159, 248);
    width: max-content;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    color: #FFFFFF;
    text-align: right;
}

.text:after {
    content: '';
    display: inline-block;
    border: 20px solid transparent;
    border-bottom: 20px solid rgb(81, 159, 248);
    border-left: 20px solid rgb(81, 159, 248);
    position: absolute;
    transform: translate(-20px, -30px);
    z-index: -1;
}

.name {

}

.messageText {

}

.time {
    font-size: 12px;
    position: absolute;
    transform: translate(-5px, 60px);

}